* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Josefin Slab", serif;
}

.header {
  padding: 50px;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 2px solid #333;
  font-family: "Josefin Sans", sans-serif;
}

.content-title {
  margin: 6px;
  padding: 24px;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
  font-family: "Josefin Sans", sans-serif;
}

.content-subtitle {
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
}

h4 {
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}

.content-text,
ol {
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
  padding: 16px;
}

ol {
  list-style-position: inside;
}

.card {
  display: block;
  width: 300px;
  max-height: 200px;
  margin: 6px auto;
  border: 3px solid #333;
  border-radius: 10px;
  object-fit: cover;
}

figcaption {
  text-align: center;
  margin: 6px;
  font-size: 16px;
}

.transparent-img {
  display: block;
  margin: 6px auto;
  width: 300px;
  border: 2px solid #333;
  background-color: #333;
  border-radius: 10px;
  object-fit: cover;
  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: #333;
  margin-left: 3px;
  transition: 275ms ease-in;
}

a:hover {
  color: #0077d6;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 1.1rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .header;
}
